form.favorite{
  margin:0 10% 0 10%;
/*   border: 0.1em solid black; */
  border-radius: 8px;
}


form.favorite p, form.favorite input{
  font-family: 'Noto Sans TC', sans-serif; 
}

form.favorite p {
/*   text-align:center;   */
  padding : .5em 0 .5em 0;
}

form.favorite input{
  font-size : 1.5em;
  border-radius: 8px;
  background-color: #E0E0E0;
}

form.favorite label{
  font-size : 1.5em;
}

#check{
  font-size : 1.5em;
}

@media screen and (max-width: 780px){
  form.favorite{
  margin:0 10% 0 10%; 
  }
}
