<!doctype html>
{% load static%}
<html>

<head>
{% block title %}{% endblock %}
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'main/css/normalize.css' %}">
<link rel='stylesheet' href="{% static 'main/css/general.css' %}">
<link rel='stylesheet' href="{% static 'main/css/content.css' %}">
<link rel='stylesheet' href="{% static 'main/css/nav0723.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% block css %}{% endblock %}
</head>

<body>
<header><a href="{% url 'main:main' %}"><img src="{% static 'main/img/top bar.png' %}" alt='Top bar' border='0' id='topbar'></a></header>

<nav>
<div class="topnav">
  <a href="{% url 'main:main' %}">Homepage</a>
  <a href="{% url 'favorite:favorite'%}" >Favorites</a>
  <a href="{% url 'favorite:settings'%}" >Settings</a>
{% if user.is_authenticated %}
  <a href="{% url 'account:logout'%}" >Logout</a>
  <div class="search-container">
    <form autocomplete="off" action="{% url 'search:search' %}" >
      <input id="searchinput" type="text" placeholder="Search.." name="search" size="18">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
{% endif %}  
</div>
</nav>


{% for message in messages %}
  <p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}

<div id='content'>
{% block content %}{% endblock %}
</div>

<div id='totopdiv'>
  <a href='#top'><img src="{% static 'main/img/to top.png' %}" alt='to top' border='0' id='totopimg'></a>
</div>

<footer class='clear'>
  <a href='https://github.com/wayne87140/' target='_blank' >
    <img src="{% static 'main/img/banner.png' %}" alt='Direct to Home' id='Ad'>
  </a>
</footer>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="{% static 'main/js/screenSize.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$( function() {
  var devices = {{currentDevices|safe}};
  $( "#searchinput" ).autocomplete({
    source: devices
  });
} );
</script>
{% block script %}{% endblock %}
</body>
</html>




